@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: "swap";
}

@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: "swap";
}
