// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #2db362;
$secondary: #2970fe;
$accent: #9c27b0;
$dark-green: #1b5e20;

$dark: #272a39;
$dark-page: #121212;

$positive: #21ba45;

$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$space-base: 15px !default;
$flex-cols: 24 !default;
$flex-gutter-lg: ($space-base * 2) !default;

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files
$border-color: #eef0f4;
$shadow-color: rgba(0, 0, 0, 0.1);
$white: #fff;
$text-grey: #a8aab0;
